<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] ?? "Locomotives"</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Locomotives</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity?.IsAuthenticated ?? false)
                            {
                            <!-- Admin Menu -->
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Locomotives" asp-action="Index" class="nav-link">Admin Panel</a>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-area="Identity" asp-page="/Account/Logout">
                                    <button type="submit" class="btn btn-link nav-link">Logout (@User.Identity.Name)</button>
                                </form>
                            </li>
                            }
                        else
                            {
                            <!-- Non-logged users see only the Locomotive list -->
                            <li class="nav-item">
                                <a asp-controller="Locomotives" asp-action="Index" class="nav-link">Locomotive Numbers</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Identity" asp-page="/Account/Login" class="nav-link">Login</a>
                            </li>
                            }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted mt-3">
        <div class="container">
            &copy; @DateTime.Now.Year - Locomotives
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
